@use "bootstrap" as *;

body {
  background-color: #f8f9fa;
}

.splat-wrapper{
    width:100%;
    position: relative;

    canvas{
      position: absolute;
      top:0; 
      left: 0;
    }

    .container{
      aspect-ratio: 2/1;
    }
}