---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href={Astro.url.pathname + "/static/favicon.svg"} />
	  <title>LichtFeld Studio</title>
    <style lang="scss" is:global>
      @use "bootstrap/scss/bootstrap" as *;

      body {
        background-color: #f8f9fa; /* Bootstrap’s light gray color */
      }

      .splat-wrapper {
        width: 100%;
        position: relative;

        canvas {
          position: absolute;
          top: 0;
          left: 0;
        }

        .container {
          aspect-ratio: 2/1;
        }
      }
    </style>
  </head>
  <body>
    <main>
      <!-- Header -->
      <Header/>
      
      <!-- Content -->
	    <slot/>

      <!-- Footer -->
      <Footer/>
	  </main>
  </body>
</html>